<div class="container">
  <div class="row">
    <section class="col-md-12">
      <div class="vertcal_outer">
        <div class="vertcal_inner_block">

          <h4 class="text-center info_num_msg">Please complete your profile and make payment, else your business will be not listed on app</h4>
          <div class="signin_bg_comman text-center">
            <h2 class="form_title text-center">Business Profile</h2>
<!--
            <form class="vendor_business_info" ngControl="power" #power="ngForm"  name="form" (ngSubmit)="f.form.valid && update2()" #f="ngForm" novalidate>
-->
          <form name="form"  #f="ngForm" novalidate>
            <div id="image">
                <p class="pic_upload text-center">
                            <span>
<!--
                               <img src="./business_profile_files/default_banner.png" alt="upload your picture" id="venImage" onclick="document.getElementById(&#39;files&#39;).click(); return false" style="width: 300px; height: 150px;">
-->
                               </span></p><div class="clearfix"></div>
                <div class="fileUpload btn btn-default">
                  <span>Upload</span>
                  <input type="file" accept="image/*" class="upload" id="files" name="files">
                </div>


                <p></p>
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !business_name.valid }">

                <input type="text" class="form-control indent_zero" id = "name" placeholder="Business Name" name="business[name]"  [(ngModel)]="model.name" value="" #name="ngModel" required >
                <div *ngIf="f.submitted && !business_name.valid" class="help-block">business name is required</div>
              </div>
              <div class="form-group character_count" [ngClass]="{ 'has-error': f.submitted && !business_description.valid }">
                <textarea class="form-control custom_textarea indent_zero textareaHeight" placeholder="Brag about your business" rows="5"  name="business[description]" id="desc" [(ngModel)]="model.description" value="" #desc="ngModel" required > </textarea>
                <div class="text-right count">
                  <span id="chars">500</span>
                </div>

              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !business_website.valid }" >
                <input type="text" class="form-control indent_zero" placeholder="Website url (Optional)" name="business[website]" value=""  id = "website" [(ngModel)]="model.website" value="" #website="ngModel" required />
              </div>
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !business_category.valid }" >
                <select class="form-control" name="business[category_id]" id="business_category" [(ngModel)]="model.category_id" value="" #business_category="ngModel" required >
                  <option value="" selected="" hidden="">Select Category</option>
                  <option value="1">Accounting, Auditing and Tax Services</option>
                  <option value="2">Advertising</option>
                  <option value="3">Architecture, Interior Design and Furniture</option>
                  <option value="4">Banking and Financial Services</option>
                  <option value="5">Building and Construction Services</option>
                  <option value="6">Business Administration Services</option>
                  <option value="7">Business Associations</option>
                  <option value="8">Business Consulting</option>
                  <option value="9">Business Development</option>
                  <option value="10">Car Services and Rentals</option>
                  <option value="11">Chambers of Commerce</option>
                  <option value="12">Computer and Internet Services</option>
                  <option value="13">Customs Brokerage</option>
                  <option value="14">Debt Collection</option>
                  <option value="15">Distributors, Sales Agents and Importers</option>
                  <option value="16">Education and Training Services</option>
                  <option value="17">Electronic Components and Supplies</option>
                  <option value="18">Engineering Services</option>
                  <option value="19">Entertainment Services</option>
                  <option value="20">Environmental Services</option>
                  <option value="21">Event Management, Conference Equipment and Facilitation</option>
                  <option value="22">Export Management</option>
                  <option value="23">Graphic Design</option>
                  <option value="24">Hospitals, Clinics and Health Services</option>
                  <option value="25">Hotels and Meeting Facilities</option>
                  <option value="26">Human Resources</option>
                  <option value="27">Insurance Services</option>
                  <option value="28">Legal Services</option>
                  <option value="29">Manufacturing and Industrial Production Services</option>
                  <option value="30">Market Research</option>
                  <option value="31">Marketing, Public Relations and Sales</option>
                  <option value="32">Mining and Oil and Gas Services</option>
                  <option value="33">Office Furniture</option>
                  <option value="34">Office Rental</option>
                  <option value="35">Other Business Services</option>
                  <option value="36">Patent and Trademark Law Services</option>
                  <option value="37">Photographic Services</option>
                  <option value="38">Printing and Publishing Services</option>
                  <option value="39">Product Standards, Testing, and Certification</option>
                  <option value="40">Real Estate Services</option>
                  <option value="41">Regional Economic Development</option>
                  <option value="42">Relocation services</option>
                  <option value="43">Restaurants and Catering</option>
                  <option value="44">Retailers</option>
                  <option value="45">Security and Personal Safety</option>
                  <option value="46">Telecommunications</option>
                  <option value="47">Trade Show and Exhibition Services</option>
                  <option value="48">Translation and Interpretation</option>
                  <option value="49">Transportation, Freight Forwarder and Storage Services</option>
                  <option value="50">Travel Facilitation</option>
                  <option value="51">Vetting/Due Diligence</option>
                </select>
              </div>

              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !business_street1.valid }" >
                <input type="text" class="form-control indent_zero" placeholder=" Street" name="business[street]" id = "street" [(ngModel)]="model.street"  value=""  street="ngModel" required />
              </div>
              <!--<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !business_street2.valid }" >
                <input type="text" class="form-control indent_zero" placeholder=" Street2" name="business[street2]" id = "street2" [(ngModel)]="model.street2" value="" street2="ngModel" required />
              </div>-->
              <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !business_zip.valid }" >
                <div class="row">
                  <div class="col-md-4 mrgn_t_10">
                    <input type="text" pattern="[0-9]*" maxlength="5" class="form-control indent_zero" id="business_zip" placeholder="ZIP" name="business[zip]" [(ngModel)]="model.zip" value="" required/>
                    <p class="zip-error" style="display: none">Invalid zip code.</p></div>
                  <div class="col-md-5 mrgn_t_10">
                    <input type="text" class="form-control indent_zero" id="city" placeholder="CITY" name="business[city]" [(ngModel)] = "model.city" value="" required/></div>
                  <div class="col-md-3 mrgn_t_10 state_text_indent" [ngClass]="{ 'has-error': f.submitted && !business_state.valid }" >
                    <select class="form-control" name="business[state]" id="state" [(ngModel)] = "model.state" #state="ngModel" required>
                      <option value="">State</option>
                      <option value="AL">AL</option>
                      <option value="AK">AK</option>
                      <option value="AS">AS</option>
                      <option value="AZ">AZ</option>
                      <option value="AR">AR</option>
                      <option value="CA">CA</option>
                      <option value="CO">CO</option>
                      <option value="CT">CT</option>
                      <option value="DE">DE</option>
                      <option value="DC">DC</option>
                      <option value="FM">FM</option>
                      <option value="FL">FL</option>
                      <option value="GA">GA</option>
                      <option value="GU">GU</option>
                      <option value="HI">HI</option>
                      <option value="ID">ID</option>
                      <option value="IL">IL</option>
                      <option value="IN">IN</option>
                      <option value="IA">IA</option>
                      <option value="KS">KS</option>
                      <option value="KY">KY</option>
                      <option value="LA">LA</option>
                      <option value="ME">ME</option>
                      <option value="MH">MH</option>
                      <option value="MD">MD</option>
                      <option value="MA">MA</option>
                      <option value="MI">MI</option>
                      <option value="MN">MN</option>
                      <option value="MS">MS</option>
                      <option value="MO">MO</option>
                      <option value="MT">MT</option>
                      <option value="NE">NE</option>
                      <option value="NV">NV</option>
                      <option value="NH">NH</option>
                      <option value="NJ">NJ</option>
                      <option value="NM">NM</option>
                      <option value="NY">NY</option>
                      <option value="NC">NC</option>
                      <option value="ND">ND</option>
                      <option value="MP">MP</option>
                      <option value="OH">OH</option>
                      <option value="OK">OK</option>
                      <option value="OR">OR</option>
                      <option value="PW">PW</option>
                      <option value="PA">PA</option>
                      <option value="PR">PR</option>
                      <option value="RI">RI</option>
                      <option value="SC">SC</option>
                      <option value="SD">SD</option>
                      <option value="TN">TN</option>
                      <option value="TX">TX</option>
                      <option value="UT">UT</option>
                      <option value="VT">VT</option>
                      <option value="VI">VI</option>
                      <option value="VA">VA</option>
                      <option value="WA">WA</option>
                      <option value="WV">WV</option>
                      <option value="WI">WI</option>
                      <option value="WY">WY</option>
                      <option value="AE">AE</option>
                      <option value="AA">AA</option>
                      <option value="AP">AP</option>
                    </select>
                    <!--<input type="text" class="form-control indent_zero" id="state" placeholder="STATE" name="state" value=""-->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-6"><a class="btn btn-default btn-lg btn-block" [routerLink]="['/personal-info']" > <!--<a href="http://192.168.1.16/personal-info" class="btn btn-default btn-lg btn-block">-->Back</a>
                </div>
                <div class="col-md-6 col-sm-6 nxt_btn_mrgin">
                  <button type="button" (click)="update2()" class="btn btn-primary btn-lg btn-block btn_primary" [disabled]="f.invalid" [routerLink]="['/payment']" >NEXT
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModalForImageCrop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Crop Image</h4>
      </div>
      <div id="img_info_err"></div>
      <div class="modal-body text-center" style="width: 405px; height: 200px;" id="imageCropProfile">
        <!--<img src="./business_profile_files/ajax-loader.gif" id="PicloaderImg">-->
      </div>
      <div class="modal-footer">
        <input type="button" id="btnCrop" class="btn btn-success" value="Apply" style="display: none;">
        <input type="button" id="btnUpload" class="btn btn-failure" value="Cancel">
        <input type="hidden" name="imgX1" id="PicimgX1">
        <input type="hidden" name="imgY1" id="PicimgY1">
        <input type="hidden" name="imgWidth" id="PicimgWidth">
        <input type="hidden" name="imgHeight" id="PicimgHeight">
        <input type="hidden" name="imgCropped" id="PicimgCropped">
      </div>
    </div>
  </div>
</div>
