<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"  data-target="#myNavbar"> 
        <span class="icon-bar"></span>
         <span class="icon-bar"></span> 
         <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
      <a style="font-size:40px" class="navbar-brand" href="#myPage">daab</a> 
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
           <a routerLink="/home" routerLinkActive="active">Home</a>
           </li>
        <li>
          <a routerLink ="/register" routerLinkActive="active">Register</a>
           </li>
        <li>
           <a  routerLink="/log-in" routerLinkActive="active">Log In</a>
           </li>
        <li>
          <a routerLink="about-us" routerLinkActive="active">About Us</a>
          
        </li>
      </ul>
    </div>
  </div>
</nav>
