<!--<nav class="navbar navbar-default my_nav">-->
  <!--<div class="container">-->
    <!--<div class="navbar-header top_logo">-->
      <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a style="font-size:40px" class="navbar-brand logo" href="http://192.168.1.16/"><img src="./change_password_files/logo_web.png"></a>-->
    <!--</div>-->
    <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
    <!--<div class="collapse navbar-collapse top_right_nav navbar-right" id="bs-example-navbar-collapse-1">-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="dropdown">-->
          <!--<a href="http://192.168.1.16/change-password#" class="dropdown-toggle header_dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img id="imageProfileTop" src="./change_password_files/no-user.png" class="" width="30" height="30" alt="Default User Image">  <span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li> <a [routerLink]="['/personal-info']" >My Profile</a></li>-->
            <!--<li> <a [routerLink]="['/business']">My Business</a></li>-->
            <!--<li> <a [routerLink]="['/payment']" >Payments</a></li>-->
            <!--<li> <a [routerLink]="['/change-password']" >Change Password</a></li>-->
            <!--<li> <a  data-confirm="Are you sure?">Logout</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--&lt;!&ndash; </div> /.container-fluid &ndash;&gt;-->
  <!--</div>-->
<!--</nav>-->

<!-- #heder close -->
<!-- -->
<div class="container">
  <div class="row">
    <section class="col-md-12">
      <!-- <div class="vertcal_outer"> vertcal_outer class div start here -->
      <div class="vertcal_inner_block">
        <div class="payment_form">
          <h2 class="form_title text-center">Change Password</h2>
          <div class="clearfix" id="successMsg"></div>

          <div class="row service_edit_table">
            <span class="payment-errors"></span>
            <div class="col-md-12 ">
              <form id="resetPassword" class="vendor_personal_info"><input name="_method" type="hidden" value="PUT"><input name="_token" type="hidden" value="BgSCDrRMzW5v2XaoVFptlC7irVvPekaUpFVxuEtA">
                <div class="form-group">
                  <span class="glyphicon glyphicon-envelope"></span>
                  <input type="email" placeholder="EMAIL ADDRESS" id="email" class="form-control" name="user[email]" value="xyz@gmail.com" disabled="">
                </div>
                <div class="form-group">
                  <span class="glyphicon glyphicon-lock"></span>
                  <input type="password" placeholder="NEW PASSWORD" id="password" class="form-control" name="user[password]">
                </div>
                <div class="form-group">
                  <span class="glyphicon glyphicon-lock"></span>
                  <input type="password" placeholder="CONFIRM PASSWORD" id="password_confirmation" class="form-control" name="user[password_confirmation]">
                </div>
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button class="btn profile_save_btn" type="submit" style="background-color: rgba(92, 37, 141, 0.5); border-color: rgba(255, 255, 255, 0); color: white;">
                      SAVE
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- </div> vertcal_outer class div end here -->
    </section>
  </div>
</div>
