<div class="container">
  <div class="row">
    <section class="col-md-12">
      <!-- <div class="vertcal_outer"> vertcal_outer class div start here -->
      <div class="vertcal_inner_block">
        <div class="payment_form">
          <h2 class="form_title text-center">Change Password</h2>
          <div class="clearfix" id="successMsg"></div>

          <div class="row service_edit_table">
            <span class="payment-errors"></span>
            <div class="col-md-12 ">
              <form id="resetPassword" class="vendor_personal_info" ngControl="power" #power="ngForm"  name="form" (ngSubmit)="f.form.valid && update3()" #f="ngForm" novalidate ><input name="_method" type="hidden" value="PUT"><input name="_token" type="hidden" value="BgSCDrRMzW5v2XaoVFptlC7irVvPekaUpFVxuEtA">
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_email.valid }">
                  <span class="glyphicon glyphicon-envelope"></span>
                  <input type="email" placeholder="EMAIL ADDRESS" id="email" class="form-control" name="user[email]" value="xyz@gmail.com" [(ngModel)]="model.email" #email="ngModel"  disabled="">
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_password.valid }" >
                  <span class="glyphicon glyphicon-lock"></span>
                  <input type="password" placeholder="NEW PASSWORD" id="password" class="form-control" name="user[password]"  [(ngModel)]="model.password" #password="ngModel" required/>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !user_password_confirmation.valid }" >
                  <span class="glyphicon glyphicon-lock"></span>
                  <input type="password" placeholder="CONFIRM PASSWORD" id="password_confirmation" class="form-control" name="user[password_confirmation]" [(ngModel)] = "model.password_confirmation" #password_confirmation="ngModel" required/>
                </div>
                <div class="row">
                  <div class="col-md-12 text-right">
                    <button class="btn profile_save_btn" type="submit"  [disabled]="f.invalid" style="background-color: rgba(92, 37, 141, 0.5); border-color: rgba(255, 255, 255, 0); color: white;">
                      SAVE
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
      <!-- </div> vertcal_outer class div end here -->
    </section>
  </div>
</div>
