<div id="bg-fade-carousel" class="carousel slide carousel-fade full-screen" data-ride="carousel"> 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="slide1"></div>
      <div class="carousel-caption">
        <p class="font1 text-right">Directory of African American Businesses</p>
      </div>
    </div>
    <div class="item">
      <div class="slide2"></div>
      <div class="carousel-caption">
        <p class="font1 text-left">Directory of African American Businesses</p>
      </div>
    </div>
    <div class="item">
      <div class="slide3"></div>
      <div class="carousel-caption">
        <p class="font1 text-left">Directory of African American Businesses</p>
      </div>
    </div>
    <div class="item">
      <div class="slide4"></div>
      <div class="carousel-caption">
        <p class="font1 text-right">Directory of African American Businesses</p>
      </div>
    </div>
  </div>
</div>
<!--Endy bg-carousel--> 

<!-- Mobile slider part start -->

<div id="" class="container-fluid mob-slider mob-screen">
  <div class="row">
    <div class="col-sm-12">
      <p class="font1 text-right">Directory of African American Businesses</p>
    </div>
  </div>
</div>

<!-- Mobile slider part end -->


<!-- Container ( Services Section) -->

<div id="services" class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-4"> <span><img class="center-block slideanim" src="images/mobile-app.png" no-repeat height="80%" Width="80%"></span> </div>
      <div class="col-sm-8">
        <div class="text-center">
          <h2 class="font2" >HOW IT WORKS</h2>
        </div>
        <br>
        <div class="col-sm-4"> <span class="glyphicon glyphicon-search"></span>
          <h2>SEARCH</h2>
          <p >Filter and search for a African American Business in your area.</p>
        </div>
        <div class="col-sm-4"> <span class="glyphicon glyphicon-list-alt"></span>
          <h2>REVIEW</h2>
          <p>Review business services and comments from others patrons.</p>
        </div>
        <div class="col-sm-4"> <span class="glyphicon glyphicon-globe"></span>
          <h2>DIRECTIONS</h2>
          <p>Select the business and use the navigation function for directions.</p>
        </div>
      </div>
    </div>
  </div>
</div>

